@charset "UTF-8";
/*
Power by lipeng
 */
/*初始化*/
body, ol, ul, h1, h2, h3, h4, h5, h6, p, th, td, dl, dd, form, fieldset, legend, input, textarea, select {
  margin: 0;
  padding: 0; }

body {
  font-size: 12px;
  background: #fff;
  -webkit-text-size-adjust: 100%; }

a {
  color: #2d374b;
  text-decoration: none; }

a:hover {
  text-decoration: none; }

em {
  font-style: normal; }

ul, li {
  list-style: none; }

img {
  border: 0;
  vertical-align: middle; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

p {
  word-wrap: break-word; }

html,
body {
  height: 100%;
  font-size: 62.5%;
  font-family: Arial, 'Microsoft YaHei';
  -webkit-tap-highlight-color: transparent; }

body {
  max-width: 640px;
  min-width: 320px;
  margin: 0 auto;
  position: relative;
  line-height: 1; }

input,
select,
button,
textarea {
  font-family: "arial", "Microsoft YaHei";
  -webkit-appearance: none; }

[v-cloak] {
  display: none; }

.floatl {
  float: left; }

.floatr {
  float: right; }

.text-l {
  text-align: left; }

.text-r {
  text-align: right; }

.text-m {
  text-align: center; }

.pst-btm {
  position: absolute;
  bottom: 0; }

.wt-bg {
  width: 100%;
  height: 100%;
  background: #fff; }

.bl-bg {
  width: 100%;
  height: 100%;
  /* Fallback for sad browsers */
  background-color: #1d6edd;
  /* WebKit (Safari 5.1+, Chrome 10+) */
  background-image: -webkit-linear-gradient(top, #00a0e9, #1d6edd);
  padding-top: 20%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.bl-bg2 {
  width: 100%;
  height: calc(100% - 4.4rem);
  background: #00a0e9;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 12%; }

.main-cantainer {
  width: 100%;
  height: 100%;
  background: #eee;
  margin: 0 auto;
  font-size: 1.6rem;
  overflow: auto;
  position: relative;
  -webkit-user-select: none;
  -webkit-overflow-scrolling: touch; }

.navfixr:after {
  content: '';
  display: block;
  height: 7rem; }

.form-title {
  position: relative;
  width: 100%;
  height: 4.4rem;
  line-height: 4.4rem;
  text-align: center;
  background: #00a0e9;
  color: #fff; }

.backBasic-btn {
  position: absolute;
  left: 1rem;
  color: #fff; }

.backBasic-btn img {
  width: 3rem;
  height: 3rem; }

.top-more-btn {
  position: absolute;
  right: 1rem;
  color: #fff; }

.top-more-btn img {
  width: 3rem;
  height: 3rem; }

.success-btn {
  background: #00a0e9;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.success-btn:active {
  background: #007db6; }

.cancel-btn {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: #f66; }

.cancel-btn:active {
  background: #eb5050; }

.clearfix {
  zoom: 1; }

.no-pd {
  padding: 0 !important; }

.r0 {
  right: 0 !important; }

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both; }

.index-header {
  width: 100%;
  height: auto; }

#vue_main {
  height: 100%; }

.page-title {
  position: relative;
  width: 100%;
  height: 4.4rem;
  line-height: 4.4rem;
  color: #fff;
  background: #00a0e9;
  padding: 0 1.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.add-icon {
  color: #fff;
  font-size: 2.5rem; }

.page-title .top-btn {
  display: inline-block;
  width: 5rem;
  height: 2rem;
  font-size: 1.2rem;
  color: #fff;
  border-radius: 2.5rem;
  border: 1px #fff solid;
  background: none; }

.index-type-list {
  display: inline-block;
  margin-left: 1rem; }

.index-type-list li {
  display: inline-block;
  margin-right: 0.75rem;
  font-size: 1.5rem; }

.index-type-list li a {
  display: inline-block;
  font-size: 1.5rem;
  color: #fff;
  text-decoration: none; }

.index-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  min-width: 320px;
  max-width: 640px;
  height: 6rem;
  border-top: 1px #eee solid;
  background: #fff;
  -webkit-text-size-adjust: none;
  font-size: 0; }

.index-nav ul li {
  display: inline-block;
  width: 33%;
  padding-top: 1rem;
  text-align: center;
  height: 100%; }

.index-nav ul li img {
  width: 3rem;
  height: auto; }

.index-nav ul li p {
  font-size: 1.2rem;
  color: #00a0e9; }

.marquee {
  display: inline-block;
  width: 100%;
  -webkit-animation: scrollText 10s infinite;
          animation: scrollText 10s infinite; }

@-webkit-keyframes scrollText {
  0% {
    -webkit-transform: translateX(0px); }
  100% {
    -webkit-transform: translateX(-500px); } }

@keyframes scrollText {
  0% {
    -webkit-transform: translateX(0px); }
  100% {
    -webkit-transform: translateX(-500px); } }

.meet-list-main {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  min-height: 20%;
  padding: 0 1.5rem;
  background: #fff; }

.meet-list {
  width: 100%;
  height: auto;
  padding-bottom: 1.5rem; }

.meet-list li {
  width: 100%;
  height: 6.5rem;
  border-bottom: 1px #eee solid;
  padding: 1.75rem 0; }

.meet-item {
  position: relative; }

.meet-item .left {
  float: left;
  width: 30%;
  min-width: 8.5rem;
  height: 100%;
  overflow: hidden; }

.meet-item .left img {
  width: auto;
  height: 100%; }

.meet-item .right {
  width: 60%;
  padding-left: 0.75rem;
  float: left; }

.meet-item .meet-name {
  height: 5.25rem;
  font-size: 1.5rem;
  color: #333; }

.meet-item .right time {
  font-size: 12px;
  color: #848689; }

.meet-item .deleteItem {
  position: absolute;
  right: 0;
  bottom: 1rem;
  width: 6rem;
  height: 3rem;
  border-radius: 50px;
  background: #ffae2e;
  color: #fff;
  line-height: 3rem;
  font-size: 1.2rem;
  text-align: center; }

.float-btn-box {
  position: relative; }

.float-btn {
  display: block;
  position: fixed;
  right: 2.2rem;
  bottom: 6rem;
  width: 5rem;
  height: 5rem;
  border-radius: 50px;
  background: #ffa53a;
  z-index: 1; }

.float-btn img {
  width: 100%; }

.float-menu-box {
  position: absolute;
  right: 2.2rem;
  bottom: 11.5rem; }

.float-menu {
  display: block;
  width: 10.5rem;
  font-size: 1.2rem;
  text-align: center;
  line-height: 3.5rem;
  height: 3.5rem;
  background: #fdedd9;
  color: #f87e17;
  margin: .75rem 0;
  border-radius: 5rem; }
