.mtrm-idx-d1 {
  width: 100%;
  height: 9rem;
  padding: 1.25rem 2.3rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* Fallback for sad browsers */
  background-color: #1d6edd;
  /* WebKit (Safari 5.1+, Chrome 10+) */
  background-image: -webkit-linear-gradient(top, #00a0e9, #1d6edd); }

.mtrm-idx-hd {
  color: #fff; }

.user-info-box {
  margin-left: 2rem;
  padding: 1.25rem 0;
  font-size: 1.5rem; }

.user-info-box .user-name {
  text-indent: .5rem; }

.user-info-box .user-fans {
  margin-top: .5rem;
  font-size: 1.2rem; }

.user-info-box .user-fans img {
  width: 3rem;
  height: 3rem; }

.mtrm-idx-d1 .user-img {
  width: 6.5rem;
  height: 6.5rem;
  border-radius: 5px;
  border: .15rem #fff solid;
  overflow: hidden; }

.mtrm-idx-d1 .user-img img {
  width: 100%;
  height: 100%; }

.mtrm-idx-d2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 6rem;
  background: #fff;
  padding: .5rem 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.mtrm-idx-d2 .mtrm-btn {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.mtrm-btn i {
  display: block;
  width: 3rem;
  height: 3rem;
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
  margin-bottom: .5rem; }

.mtrm-btn i img {
  width: 100%; }

.mtrm-btn p {
  color: #949fa4;
  font-size: 1.2rem;
  text-align: center; }

.mtrm-idx-d2 .mtrm-btn:nth-child(1) {
  border-right: 1px #eee solid; }
