.index-banner {
  width: 100%;
  height: auto;
  overflow: hidden; }

.index-banner img {
  width: 100%;
  height: auto; }

.index-tab {
  width: 100%;
  height: 5rem;
  font-size: 0;
  background: #fff;
  border-bottom: 1px #eee solid;
  -webkit-text-size-adjust: none; }

.index-tab button {
  width: 50%;
  height: 100%;
  line-height: 5rem;
  font-size: 1.5rem;
  color: #00a0e9;
  border: none;
  background: none;
  outline: none; }

.index-tab button:last-child {
  border-left: 1px #eee solid; }

.index-tab button img {
  width: 4rem;
  height: auto; }

.index-tab .active {
  border-bottom: 0.5rem #00a0e9 solid; }

.loading {
  text-align: center;
  width: 100%;
  height: 4rem;
  line-height: 4rem;
  padding-bottom: 1rem; }

.loading i {
  display: inline-block;
  margin-right: .5rem;
  width: 4rem;
  height: 4rem; }

.loading i img {
  width: 100%; }
