.index-banner {
  width: 100%;
  height: auto;
  overflow: hidden; }

.index-banner img {
  width: 100%;
  height: auto; }

.index-tab {
  width: 100%;
  height: 7.6rem;
  margin-bottom: .5rem;
  font-size: 0;
  background: #fff;
  border-bottom: 1px #eee solid;
  -webkit-text-size-adjust: none; }

.index-tab button {
  position: relative;
  width: 50%;
  color: #333;
  height: 100%;
  font-size: 1.5rem;
  border: none;
  background: none;
  outline: none; }

.index-tab button:last-child::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 1px;
  z-index: 999;
  background: #eee; }

.index-tab button img {
  width: 4rem;
  height: auto; }

.index-tab .active:after {
  content: '';
  position: absolute;
  bottom: -.5rem;
  left: 0;
  width: 100%;
  height: .5rem;
  font-size: 1.4rem;
  background: #00a0e9; }

.meet-list-main {
  box-sizing: border-box;
  width: 100%;
  padding: 0 1.5rem;
  background: #fff; }

.meet-list {
  width: 100%;
  height: auto; }

.meet-list li {
  width: 100%;
  height: 6.5rem;
  border-bottom: 1px #eee solid;
  padding: 1.75rem 0; }

.meet-list li:last-of-type {
  border: none; }

.meet-list .meet-item {
  position: relative; }

.meet-list .meet-item .left {
  float: left;
  width: 4rem;
  min-width: 8.5rem;
  height: 100%;
  overflow: hidden; }

.meet-list .meet-item .left img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.meet-list .meet-item .right {
  width: 60%;
  padding-left: 0.75rem;
  float: left; }

.meet-list .meet-item .meet-name {
  height: 5.25rem;
  font-size: 1.5rem;
  color: #333; }

.meet-list .meet-item .right time {
  font-size: 12px;
  color: #848689; }

.meet-list .meet-item .deleteItem {
  position: absolute;
  right: 0;
  bottom: 1rem;
  width: 6rem;
  height: 3rem;
  border-radius: 50px;
  background: #ffae2e;
  color: #fff;
  line-height: 3rem;
  font-size: 1.2rem;
  text-align: center; }

.meetroom-list {
  width: 100%;
  height: auto; }

.meetroom-list li {
  width: 100%;
  height: 6.5rem;
  border-bottom: 1px #eee solid;
  padding: 1.75rem 0; }

.meetroom-list .meet-item {
  position: relative; }

.meetroom-list .meet-item .left {
  float: left;
  width: 6.5rem;
  height: 6.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  border-radius: 0.5rem;
  overflow: hidden; }

.meetroom-list .meet-item .left img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.meetroom-list .right {
  width: 70%;
  height: 6.5rem;
  padding: 1rem;
  box-sizing: border-box;
  float: left; }

.meetroom-list .meet-name {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 1.5rem; }

.meetroom-list .meet-intro {
  width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 12px;
  color: #848689; }

.meetroom-list .meet-item .deleteItem {
  position: absolute;
  right: 0;
  bottom: 1rem;
  width: 6rem;
  height: 3rem;
  border-radius: 50px;
  background: #ffae2e;
  color: #fff;
  line-height: 3rem;
  font-size: 1.2rem;
  text-align: center; }
