.modal-bg {
  width: 100%;
  height: 100%;
  min-width: 320px;
  max-width: 640px;
  background: #000;
  opacity: 0.8;
  z-index: 998;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; }

.modal-main {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 998;
  height: 100%; }

.modal-dialog {
  width: 100%;
  height: 100%;
  position: relative; }

.modal-lg {
  width: 80%; }

.modal-contant {
  max-width: 26rem;
  width: 65%;
  background: #fff;
  position: fixed;
  left: 0;
  right: 0;
  top: 20%;
  z-index: 999;
  margin: auto;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px; }

.modal-lg {
  width: 80%; }

.modal-header {
  background: #00a0e9;
  height: 5rem;
  line-height: 5rem;
  font-size: 1.5rem;
  text-align: center;
  color: #fff;
  border-radius: 10px 10px 0 0; }

.modal-body {
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;
  max-height: 20rem;
  overflow: auto; }

.modal-list-title {
  height: 2rem;
  line-height: 2rem;
  font-size: 1.5rem;
  background: #eee;
  padding-left: .5rem;
  margin-bottom: .5rem;
  border-left: 0.5rem #00a0e9 solid;
  color: #333; }

.modal-body p.txt {
  font-size: 1.5rem;
  color: #333;
  padding: 3rem 0; }

.modal-body p.info {
  font-size: 1.2rem;
  line-height: 2rem;
  color: #00a0e9; }

.modal-body p.section {
  margin: 1rem 0;
  font-size: 1.2rem;
  line-height: 2rem;
  color: #333; }

.modal-body p.info .title {
  color: #333;
  margin-right: .2rem; }

.modal-body .item {
  width: 100%;
  height: 3.5rem;
  padding: 1rem 0;
  font-size: 1.5rem;
  overflow: hidden;
  border-bottom: 1px #eee solid; }

.modal-title {
  text-align: center;
  color: #00a0e9;
  font-size: 1.5rem;
  margin: 1.5rem 0; }

.modal-input {
  margin: .5rem 0;
  padding: 0 .5rem; }

.modal-input input {
  width: 100%;
  height: 4rem;
  padding: 0 1rem;
  line-height: 2rem;
  outline: none;
  background: #f8fbfc;
  border: solid 1px #e5e5e5;
  font-size: 1.4rem;
  border-radius: .3rem;
  color: #333;
  box-sizing: border-box; }

.modal-body .item:last-of-type {
  border: none; }

.modal-body .item .title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.modal-body .time {
  display: block;
  width: 100%;
  color: #00a0e9;
  height: 2rem;
  margin-top: .5rem; }

.modal-body .time i {
  display: inline-block;
  width: auto;
  height: 100%; }

.modal-body .time i img {
  height: 100%; }

.modal-body .p-title {
  color: #00a0e9;
  padding: .5rem 0;
  font-size: 1.5rem; }

.modal-footer {
  display: flex;
  border-top: 1px #eee solid;
  height: 5rem;
  border-radius: 0 0 10px 10px;
  overflow: hidden; }

.modal-footer button {
  flex: 1;
  background: #fff;
  height: 100%;
  border: none;
  outline: none;
  font-size: 1.5rem; }

.modal-footer button.yes {
  border-right: 1px #eee solid;
  color: #00a0e9;
  border-radius: 0 0 0 10px; }

.modal-footer button.no {
  color: #717171;
  border-radius: 0 0 10px 0; }

.modal-code {
  width: 100%;
  padding: 1rem;
  box-sizing: border-box; }

.htat {
  max-height: 100%; }

.modal-code img,
.modal-code canvas {
  width: 100%; }

.invite-modal .invite-modal-header {
  height: 5.5rem;
  line-height: 5.5rem;
  background: #fff;
  color: #848689;
  font-size: 1.5rem;
  border-bottom: 1px #eee solid; }

.invite-modal .admin-role-list {
  max-height: 20rem; }
  .invite-modal .admin-role-list li {
    height: 4rem;
    line-height: 4rem;
    padding: 0 1rem;
    box-sizing: border-box; }
    .invite-modal .admin-role-list li label {
      display: inline-block;
      color: #333;
      font-size: 1.5rem;
      width: calc(100% - 2.5rem); }

.toastr-bg {
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.3;
  position: fixed;
  z-index: 998;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; }

.toastr-main {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 998;
  height: 100%; }

.toastr-body {
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  max-width: 26rem;
  width: 50%;
  height: 8rem;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 999;
  margin: auto;
  overflow: hidden;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px; }

.toastr-body p {
  padding: 1rem;
  color: #fff;
  font-size: 1.5rem;
  text-align: center; }
