.repository-data-list {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 0 2.2rem; }

.repository-item {
  position: relative;
  padding: 1rem 0;
  box-sizing: border-box;
  border-bottom: 1px #eee solid; }
  .repository-item .list-icon {
    display: block;
    float: left;
    margin-right: .5rem;
    width: .5rem;
    height: 1.7rem;
    background: #f66; }
  .repository-item .data-icon {
    display: block;
    margin-right: .5rem;
    float: left;
    width: 2rem;
    height: 2rem; }
  .repository-item .title-box {
    margin-left: 2.5rem; }
  .repository-item .func-box {
    height: 3rem;
    line-height: 3rem; }
    .repository-item .func-box time {
      color: #848689;
      font-size: 1.2rem; }
    .repository-item .func-box .from {
      display: block;
      float: left;
      width: calc(100% - 4rem);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: #848689;
      font-size: 1.2rem; }
    .repository-item .func-box .func-btn {
      float: right;
      width: 3rem;
      height: 3rem; }
      .repository-item .func-box .func-btn img {
        width: 100%; }
    .repository-item .func-box .collect-data {
      background: url(img/collection_selected.png) no-repeat;
      background-size: cover; }
    .repository-item .func-box .uncollect-data {
      background: url(img/collection_unselected.png) no-repeat;
      background-size: cover; }
  .repository-item .repository-title {
    font-size: 1.5rem;
    line-height: 2rem;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 1rem; }
  .repository-item .data-icon img {
    width: 100%;
    height: 100%; }

.repository-mainList li {
  width: 100%;
  border-bottom: 1rem #eee solid;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-sizing: border-box; }
  .repository-mainList li .item {
    width: 100%;
    height: 5.5rem;
    padding: 0 1.25rem;
    line-height: 5.5rem;
    border-bottom: 1px #eee solid;
    box-sizing: border-box; }
    .repository-mainList li .item a {
      display: block;
      width: 100%;
      color: #333;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
    .repository-mainList li .item span {
      display: inline-block;
      width: 2.5rem;
      height: 2.5rem;
      margin-right: 1rem; }
      .repository-mainList li .item span img {
        width: 100%; }

.operate {
  height: 4rem;
  padding-right: 2rem; }
  .operate span {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    margin: .5rem 0;
    margin-left: 5rem; }
    .operate span img {
      width: 100%; }

.operate-modal .operate-content {
  width: 100%;
  height: 100%;
  min-width: 320px;
  max-width: 640px;
  padding-top: 10rem;
  background: rgba(0, 160, 233, 0.8);
  position: absolute;
  z-index: 998;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  box-sizing: border-box; }
  .operate-modal .operate-content .operate-btn {
    width: 13rem;
    height: 13rem;
    background: #fff;
    border-radius: 10rem;
    text-align: center;
    padding: 2.5rem 0;
    box-sizing: border-box;
    margin: 0 auto;
    margin-bottom: 4.5rem; }
    .operate-modal .operate-content .operate-btn i {
      display: block;
      width: 4.5rem;
      height: 4.5rem;
      margin: .5rem auto; }
      .operate-modal .operate-content .operate-btn i img {
        width: 100%; }
    .operate-modal .operate-content .operate-btn span {
      color: #848689;
      font-size: 1.5rem; }
  .operate-modal .operate-content .close-btn {
    display: block;
    width: 4.5rem;
    height: 4.5rem;
    margin: 0 auto; }
    .operate-modal .operate-content .close-btn img {
      width: 100%; }

.repository-list-title {
  width: 100%;
  height: 5.5rem;
  line-height: 5.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 1.25rem;
  box-sizing: border-box; }
  .repository-list-title span {
    display: inline-block;
    width: 2.5rem;
    margin-right: 1rem; }
    .repository-list-title span img {
      width: 100%; }

.repository-firstList li {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 1.25rem;
  box-sizing: border-box; }
  .repository-firstList li a {
    display: block;
    width: 100%;
    height: 5.5rem;
    line-height: 5.5rem;
    border-bottom: 1px #eee solid;
    color: #333; }
  .repository-firstList li span {
    display: inline-block;
    width: 2.5rem;
    margin-right: 1rem; }
    .repository-firstList li span img {
      width: 100%; }

.repository-secondList li {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 1.25rem;
  box-sizing: border-box; }
  .repository-secondList li a {
    display: block;
    width: 100%;
    height: 5.5rem;
    line-height: 5.5rem;
    border-bottom: 1px #eee solid;
    color: #333; }
  .repository-secondList li span {
    display: inline-block;
    width: 2.5rem;
    margin-right: 1rem; }
    .repository-secondList li span img {
      width: 100%; }

.repository-thirdList li {
  width: 100%;
  overflow: hidden;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-sizing: border-box; }
  .repository-thirdList li a {
    display: block;
    width: 100%;
    padding-left: 2rem;
    height: 5.5rem;
    line-height: 5.5rem;
    border-bottom: 1px #eee solid;
    color: #333; }
  .repository-thirdList li span {
    display: inline-block;
    width: 2.5rem;
    margin-right: 1rem; }
    .repository-thirdList li span img {
      width: 100%; }

.repository-fourthList li {
  width: 100%;
  overflow: hidden;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-sizing: border-box; }
  .repository-fourthList li a {
    display: block;
    width: 100%;
    padding-left: 4rem;
    height: 5.5rem;
    line-height: 5.5rem;
    border-bottom: 1px #eee solid;
    color: #333; }
  .repository-fourthList li span {
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 1rem; }
    .repository-fourthList li span img {
      width: 100%; }
