.resposotory-list li {
  width: 100%;
  height: 5.5rem;
  line-height: 5.5rem;
  border-bottom: 1px #eee solid;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 1.25rem;
  box-sizing: border-box; }
  .resposotory-list li li a {
    display: block;
    width: 100%;
    height: 100%;
    color: #333; }
    .resposotory-list li li a span {
      display: inline-block;
      width: 2.5rem;
      height: 2.5rem;
      margin-right: 1rem; }
      .resposotory-list li li a span img {
        width: 100%; }
