<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="format-detection" content="telephone=no">
	<meta name="renderer" content="webkit">
	<meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>一键创建会议</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/form.css">
    <link rel="stylesheet" href="../css/creatMeet.css">
</head>
<body>
   <section class="main-cantainer">
       <h1 class="form-title">创建会议</h1>
       <form id='CreatMeet-form' class="form-box">
           <input type="hidden" name='meeId' value='1'>
                <p><lable for="meetHallName">会议厅名称：</lable><input class='form-input' type="text" name="meetHallName" id='meetHallName'></p>
                <p><lable for="createUser">创建者姓名：</lable><input class='form-input' type="text" name="createUser" id="createUser"></p>
                <p><lable for="remark">标签：</lable><input class='form-input' type="text" name="remark" id="remark"></p>
                <p><lable for="createUserPhone">创建者电话：</lable><input class='form-input' type="text" name="createUserPhone" id="createUserPhone"></p>
                <p><lable>会议厅类型：</lable><input class=''  type="radio" value='个人' name="meetHallType">个人&nbsp;<input class='' value='组织' type="radio" name="meetHallType">组织</p>
                <p class='btn-box'><button type="submit" class='form-btn'>创建</button></p>
       </form>
   </section>
   <script src="../js/lib/jquery.js"></script>
   <script src="../js/lib/vue-1.0.28.js"></script>
   <script src="../js/plug/plug-form.js"></script>
   <script src="../js/creatMeet.js"></script>
</body>
</html>