<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="format-detection" content="telephone=no">
	<meta name="renderer" content="webkit">
	<meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>一键创建会议</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/form.css">
    <link rel="stylesheet" href="../css/meetIndex.css">
    <link rel="stylesheet" href="../css/lib/jquery-weui.min.css">
</head>
<body>
   <section class="main-cantainer">
       
   </section>
   <script src="../js/lib/jquery.js"></script>
   <script src="../js/lib/jquery-weui.min.js"></script>
   <script src="../js/lib/vue-1.0.28.js"></script>
   <script src="../js/plug/plug-form.js"></script>
   <script src="../js/meetIndex.js"></script>
</body>
</html>