// im 聊天
 @import "lib/mixin.scss";
 @import "lib/color.scss";
 .chartBox {
     width: 100%;
     padding: 1rem;
     box-sizing: border-box;
     //  他人信息对话框
     .otherMsg {
         .user-msg::before {
             content: '';
             width: 1rem;
             height: 1rem;
             background: #fff;
             transform: rotate(45deg);
             position: absolute;
             border: 1px #D3D3D3;
             border-style: none none solid solid;
             left: -.6rem;
             top: 1.7rem;
         }
         .user-msg {
             background: #fff;
             color: #333;
             border: 1px #D3D3D3 solid;
         }
     }
     //  个人信息对话框
     .mineMsg {
         .user-msg::before {
             content: '';
             width: 1rem;
             height: 1rem;
             background: #0ED153;
             transform: rotate(45deg);
             position: absolute;
             border: 1px transparent;
             border-style: solid solid none none;
             right: -.6rem;
             top: 1.7rem;
         }
         .user-msg {
             color: #fff;
             background: #0ED153;
         }
     }
     //  对话框通用样式
     .msgItem {
         min-height: 4.5rem;
         margin: 2rem 0;
         .userIcon {
             width: 4.5rem;
             height: 4.5rem;
             border-radius: .5rem;
             overflow: hidden;
             img {
                 width: 100%;
                 height: 100%;
                 object-fit: cover;
             }
         }
         .user-msg {
             position: relative;
             min-width: 30%;
             max-width: calc(90% - 7.5rem);
             min-height: 4.5rem;
             padding: 1.2rem 1.5rem;
             white-space: pre-wrap;
             word-break: break-all;
             font-size: 1.5rem;
             box-sizing: border-box;
             line-height: 2rem;
             border-radius: .5rem;
             margin: 0 1.5rem;
         }
     }
 }
 
 .msgInput {
     position: fixed;
     bottom: 0;
     width: 100%;
     min-width: 320px;
     max-width: 640px;
     height: 5rem;
     background: #fff;
     padding:.8rem 1rem;
     box-sizing: border-box;
     border-top: 1px #eee solid;
     textarea {
         width: calc(100% - 7rem);
         height: 100%;
         border: none;
         outline: none;
         font-size: 1.5rem;
         border-bottom: 1px #ddd solid;
         border-radius: 0;
         resize: none;
         padding-top:.5rem;
         box-sizing: border-box;
     }
     button{
         width:6rem;
         height:100%;
         color:#fff;
         font-size: 1.5rem;
         border:none;
         outline:none;
         border-radius: .5rem;
     }
 }