@import "lib/mixin.scss";
@import "lib/color.scss";
.member-search{
    background:$blue;
}
.member-search .search-input{
    background: #33b3ed;
    color:#fff;
}
.member-search .search-input::-webkit-input-placeholder{
    color:#fff;
}

.member-search .search-btn{
    background: #0183d6;
}
.member-search .search-btn:active{
    background: #0070b7;
}