<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>会议报名</title>
    <link rel="stylesheet" href="../../css/lib/icheck/skins/all.css">
    <link rel="stylesheet" type="" href="../../css/style.css">
</head>

<body>
    <section class="main-cantainer">
        <div class='form-main' id='sign-main'>
            <form action="sign-up-success.html" id="sign_up_main">
                <!--会议厅ID-->
                <input type="hidden" name='meethallId' v-model="meetroomInfo.hallId">
                <!--主会议ID-->
                <input type="hidden" name='meetingId' v-model="selcetmeeInfo.meeId">
                <!--用户ID-->
                <input type="hidden" name='userId' v-model='userInfo.userId'>
                <!--信息主面板-->
                <div class='basic-info' v-show="formBox.basic">
                    <div class="form-title">
                        </span>会议报名</div>
                    <div class="form-group">
                        <label for="realName" class="floatl">姓名:</label>
                        <input type="text" class='form-input floatr' v-model="userInfo.realName" name="realName" id="realName" placeholder="请输入姓名">
                    </div>
                    <div class="form-group">
                        <label for="sex" class="floatl">姓别:</label>
                        <span class="floatr arrowImg"><img src="../../css/img/list_arrow.png" alt=""></span>
                        <select class='form-input floatr' v-model="userInfo.sex | select" name="sex" id="sex">
                            <option value="0">请选择</option>
                            <option value="1">男</option>
                            <option value="2">女</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="phone" class="floatl">手机:</label>
                        <input type="tel" class='form-input floatr' id="phone" v-model="userInfo.phone" placeholder="请输入手机">
                    </div>
                    <div class="form-group">
                        <label for="userName" class="floatl">邮箱:</label>
                        <input type="email" class='form-input floatr' name="email" id="email" placeholder="请输入邮箱">
                    </div>
                    <!--<div class="form-group">
                        <label for="unit" class="floatl">单位:</label>
                        <span class="floatr arrowImg"><img src="../../css/img/list_arrow.png" alt=""></span>
                        <select class='form-input floatr' id="unit">
                             <option value="0">请选择</option>
                     <option value="1">单位一</option>
                     <option value="2">单位二</option>
                 </select>
                    </div>-->
                    <div class="form-group js-tiket" @click="selectUnit">
                        <label class="floatl">单位:</label>
                        <span class="floatr arrowImg"><img src="../../css/img/list_arrow.png" alt=""></span>
                        <span class='floatr form-text'>{{itemText.unitTxt}}</span>
                        <input type="hidden" name="unitId" value="">
                    </div>
                    <div class="form-group">
                        <label for="dentity" class="floatl">身份:</label>
                        <span class="floatr arrowImg"><img src="../../css/img/list_arrow.png" alt=""></span>
                        <select class='form-input floatr' id="dentity">
                             <option value="0">请选择</option>
                     <option value="1">教师</option>
                     <option value="2">校长</option>
                 </select>
                    </div>
                    <div class="form-group">
                        <label for="province" class="floatl">职务:</label>
                        <span class="floatr arrowImg"><img src="../../css/img/list_arrow.png" alt=""></span>
                        <select class='form-input floatr' id="province">
                             <option value="0">请选择</option>
                     <option value="1">校级正职</option>
                     <option value="2">校级副职</option>
                 </select>
                    </div>
                    <div class="form-group">
                        <label for="dietId" class="floatl">饮食:</label>
                        <span class="floatr arrowImg"><img src="../../css/img/list_arrow.png" alt=""></span>
                        <select class='form-input floatr' name="dietId" id="dietId">
                             <option value="0" selected>请选择</option>
                             <option value="1">清真</option>
                             <option value="2">非清真</option>
                        </select>
                    </div>
                    <hr class="form-hr">
                    <div class="form-group js-tiket" @click="selectHotel">
                        <label class="floatl">选择酒店:</label>
                        <span class="floatr arrowImg"><img src="../../css/img/list_arrow.png" alt=""></span>
                        <span class='floatr form-text'>{{itemText.hotelTxt}}</span>
                    </div>
                    <div class="form-group js-tiket" @click="selectTiket">
                        <label class="floatl">发票信息:</label>
                        <span class="floatr arrowImg"><img src="../../css/img/list_arrow.png" alt=""></span>
                        <span class='floatr form-text'>{{itemText.tiketTxt}}</span>
                    </div>
                    <hr class="form-hr">
                    <div class="form-group" v-if="chmeetBtn" @click="selectMeet">
                        <label class="floatl">分论坛选择</label>
                        <span class="floatr arrowImg"><img src="../../css/img/list_arrow.png" alt=""></span>
                        <span class='floatr form-text'>{{itemText.meetTxt}}</span>
                    </div>
                    <hr class="form-hr">
                    <div class="form-group" @click="selectRemark">
                        <label class="floatl">备注:</label>
                        <span class="floatr arrowImg"><img src="../../css/img/list_arrow.png" alt=""></span>
                        <span class='floatr form-text'>{{itemText.remarkTxt}}</span>
                    </div>
                    <hr class="form-hr">
                    <hr class="form-hr">
                    <hr class="form-hr">
                    <button type='button' @click="formSubmit" class='btm-btn pst-btm'>提交报名</button>
                </div>
                <!--单位信息-->
                <div class="js-dentity-info" v-show="formBox.unit">
                    <div class="search-bar member-search clearfix">
                        <div class="search-body">
                            <div class="searchBox">
                                <i class="search"><img src="../../css/img/search_icon_wt.png"  alt=""></i>
                                <input class="search-input" type="text" name="" value="" placeholder="单位名称">
                                <i class="delete" id="search-delete"><img src="../../css/img/connection_search_delete_wt.png" alt=""></i>
                            </div>
                            <button class="search-btn" type="">搜索</button>
                        </div>
                    </div>
                    <div class="form-group" id="aa1" @click="saveUnit($event)">
                        <a href="javascript:;">上海企想信息技术有限公司</a>
                    </div>
                </div>
                <!--发票信息-->
                <div class="js-tiket-info" v-show="formBox.tiket">
                    <div class="form-title"><span @click="saveTiket" class="backBasic-btn"><img src="../../css/img/title_arrow_back.png" alt=""></span>发票信息</div>
                    <div class="form-group">
                        <label for="userName" class="floatl">发票抬头:</label>
                        <input type="text" class='form-input floatr' id="" placeholder="请输入">
                    </div>
                    <div class="form-group">
                        <label for="userName" class="floatl">识别号:</label>
                        <input type="text" class='form-input floatr' id="" placeholder="请输入">
                    </div>
                    <div class="form-group">
                        <label for="userName" class="floatl">开户地址:</label>
                        <input type="text" class='form-input floatr' id="" placeholder="请输入">
                    </div>
                    <div class="form-group">
                        <label for="userName" class="floatl">开户行:</label>
                        <input type="text" class='form-input floatr' id="" placeholder="请输入">
                    </div>
                    <div class="form-group">
                        <label for="userName" class="floatl">开户账号:</label>
                        <input type="text" class='form-input floatr' id="" placeholder="请输入">
                    </div>
                    <div class='btn-box'>
                        <button type="button" class="form-btn cancel-btn" @click='saveTiket'>保存</button>
                    </div>
                </div>
                <!--酒店信息-->
                <div class="js-hotel-info" v-show="formBox.hotel">
                    <div class="form-title"><span @click="saveTiket" class="backBasic-btn"><img src="../../css/img/title_arrow_back.png" alt=""></span>发票信息</div>
                    <div class="form-group">
                        <label for="province" class="floatl">酒店名:</label>
                        <span class="floatr arrowImg"><img src="../../css/img/list_arrow.png" alt=""></span>
                        <select class='form-input floatr' id="province">
                             <option value="0">请选择</option>
                     <option value="1">七天连锁</option>
                     <option value="2">万豪国际</option>
                 </select>
                    </div>
                    <div class="form-group">
                        <label for="province" class="floatl">房间类型:</label>
                        <span class="floatr arrowImg"><img src="../../css/img/list_arrow.png" alt=""></span>
                        <select class='form-input floatr' id="province">
                             <option value="0">请选择</option>
                     <option value="1">单间</option>
                     <option value="2">双人间</option>
                 </select>
                    </div>
                    <div class='btn-box'>
                        <button type="button" class="form-btn cancel-btn" @click='saveHotel'>保存</button>
                    </div>
                </div>
                <!--分会议选择-->
                <div class="js-meetlist-info" v-show="formBox.meetlist">
                    <!--<div class="form-group meet-group ">
                        <p class="submeet-name">分论坛一</p>
                        <div class="submeet-info">
                            <div class="time-item floatl">
                                <span><img src="../../css/img/clock.png" alt=""></span>
                                <time>2016/06/24</time>
                            </div>
                            <div class='checkbox-item floatr'>
                                参加<input type="checkbox" name="submeetingId">
                            </div>
                        </div>
                    </div><-->
                    <div class="form-title"><span @click="saveMeet" class="backBasic-btn"><img src="../../css/img/title_arrow_back.png" alt=""></span>分会议
                        <span class='floatr add-icon js-addChmeet'></span>
                    </div>
                    <ul class="selectChmeet">
                        <li class='chmeet-item clearfix' data-chmeetId="">
                            <div class='chmeet-info floatl'>
                                <span class='name'>马克思列宁主义</span>
                                <span class='time '> 
                                   <i><img src="../../css/img/clock.png" alt=""></i> 2016-05-16
						        </span>
                                <span class='address '> 
                                     <i><img src="../../css/img/map.png" alt=""></i>上海市宝山区
						        </span>
                            </div>
                            <span class='floatr remove-btn js-remove-chmeet '><img src='../../css/img/edit_icon_delete.png ' ></span>
                        </li>

                        <!--<p class="noinfo" hidden><i><img src="../../css/img/no-meetRoom.png" alt=""></i>您还没有选择分会议</p>-->
                    </ul>

                    <button type="button" class="add-item-btn js-addChmeet"><i><img src="" alt=""></i>添加子会议</button>
                    <button type="button" @click='saveMeet' class='btm-btn pst-btm '>保存</button>
                </div>
                <!--备注信息-->
                <div class="js-remark-info" v-show="formBox.remark">
                    <div class="form-title"><span @click="saveRemark" class="backBasic-btn"><img src="../../css/img/title_arrow_back.png" alt=""></span>备注</div>
                    <div class="form-textarea">
                        <textarea id='remarks_box' placeholder="你想说点什么" value="" maxlength="200" @input="remarkNum"></textarea>
                        <div class="textarea_counter"><span id="text-num">0</span>/200</div>
                    </div>
                    <div class='btn-box '>
                        <button type="button" class="form-btn cancel-btn" @click='saveRemark '>保存</button>
                    </div>
                </div>
            </form>
        </div>
        </div>
    </section>
    <!--分论坛选择-->
    <div class="modal-main" id="chmeet-modal" hidden>
        <div class="modal-bg"></div>
        <div class="modal-contant modal-lg">
            <div class="modal-header">
                分论坛信息
            </div>
            <div class="modal-body">
                <p class="chmeet-tag-info">下午只能选一场</p>
                <div class="modal-chmeet">
                    <ul>
                        <li class="item" data-chmeetId="1">
                            <p class="title">马克思里列宁主义好</p>
                            <p class="clearfix"><span class="time floatl"><i><img src="../../css/img/clock.png" alt=""></i>8月12日 12:00至15:00</span>
                                <span class="state floatr"><input class="" type="checkbox">
                                </span>
                            </p>
                        </li>
                           <li class="item" data-chmeetId="1">
                            <p class="title">马克思里列宁主义好</p>
                            <p class="clearfix"><span class="time floatl"><i><img src="../../css/img/clock.png" alt=""></i>8月12日 12:00至15:00</span>
                                <span class="state floatr"><input class="" type="checkbox">
                                </span>
                            </p>
                        </li>
                           <li class="item" data-chmeetId="1">
                            <p class="title">马克思里列宁主义好</p>
                            <p class="clearfix"><span class="time floatl"><i><img src="../../css/img/clock.png" alt=""></i>8月12日 12:00至15:00</span>
                                <span class="state floatr">人数已满
                                </span>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <button type='button' class='yes'>是</button>
                <button type='button' class='no'>否</button>
            </div>
        </div>
    </div>
    <script src="../../js/lib/jquery.js"></script>
    <script src="../../js/common.js"></script>
    <script src="../../js/plug/plug-form.js"></script>
    <script src="../../js/plug/httpPath.js"></script>
    <script src="../../js/lib/icheck.min.js"></script>
    <script src="../../js/lib/vue-1.0.28.js"></script>
    <script src="../../js/signUp.js"></script>
    <script>
        $('input').iCheck({
            checkboxClass: 'icheckbox_flat-yellow ',
            radioClass: 'iradio_flat-red '
        });
    </script>
</body>

</html>