.meet-info-list {
  width: auto;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: auto;
  padding: 1.5rem 6%; }

.meet-info-main {
  display: inline-block;
  overflow: hidden; }

.meet-info-list .item {
  text-align: center;
  width: 19%;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 5.3%;
  height: auto;
  float: left; }

.meet-info-list .item a {
  width: 100%;
  height: auto; }

.meet-info-list .item img {
  width: 100%;
  height: auto; }

.meet-info-list .item p {
  margin-top: 1rem;
  font-size: 1.3rem;
  color: #848689;
  text-align: center; }
