/*
Power by lipeng
 */
@import "lib/rest.scss";
@import "lib/mixin.scss";
*{
 font-family:'Microsoft YaHei';
}
html,body{
    height: 100%;
    font-size:62.5%;
   
}
.floatl{
    float:left;
}
.floatr{
    float:right;
}
.main-cantainer{
    position: relative;
    max-width:750px;
    min-width: 340px;
    height: 100%;
    margin: 0 auto;
    font-family:'Microsoft YaHei'!important;
    font-size:1.6rem;
}
