/*
Power by lipeng
 */

@import "lib/rest.scss";
@import "lib/mixin.scss";
@import "lib/color.scss";
html,
body {
    height: 100%;
    font-size: 62.5%;
    font-family: Arial, 'Microsoft YaHei';
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    max-width: 640px;
    min-width: 320px;
    margin: 0 auto;
    position: relative;
    line-height: 1;
}

input,
select,
button,
textarea {
    font-family: "arial", "Microsoft YaHei";
    -webkit-appearance: none;
}

[v-cloak] {
    display: none;
}

.floatl {
    float: left;
}

.floatr {
    float: right;
}

.text-l {
    text-align: left!important;
}

.text-r {
    text-align: right
}

.text-m {
    text-align: center
}

.font-red {
    color: $red!important;
    ;
}

.pst-btm {
    position: absolute;
    bottom: 0;
}

.fix-btm {
    position: fixed;
    min-width: 320px;
    max-width: 640px;
    bottom: 0;
}

.wt-bg {
    width: 100%;
    min-height: 100%;
    background: #fff;
}

.bl-bg {
    width: 100%;
    height: 100%;
    @include linear-gradient(top, #00a0e9, #1d6edd);
    padding-top: 20%;
    box-sizing: border-box;
}

.bl-bg1 {
    width: 100%;
    height: 100%;
    @include radial-gradient(#00a0e9, #1d6edd);
    box-sizing: border-box;
}

.bl-bg2 {
    width: 100%;
    height: calc(100% - 4.4rem);
    background: #00a0e9;
    box-sizing: border-box;
    padding-top: 12%;
}

.bl-bg3 {
    width: 100%;
    height: 100%;
    background: $blue;
}

.main-cantainer {
    width: 100%;
    height: 100%;
    background: #eee;
    margin: 0 auto;
    font-size: 1.6rem;
    overflow: auto;
    position: relative;
    -webkit-user-select: none;
    -webkit-overflow-scrolling: touch;
}

.navfixr:after {
    content: '';
    display: block;
    height: 7rem;
}

.form-title {
    position: relative;
    width: 100%;
    height: 4.4rem;
    line-height: 4.4rem;
    text-align: center;
    background: $blue;
    color: #fff;
}

// 返回按钮
.backBasic-btn {
    position: absolute;
    left: 1rem;
    color: #fff;
}

.backBasic-btn img {
    width: 3rem;
    height: 3rem;
}

// 更多按钮
.top-more-btn {
    position: absolute;
    right: 1rem;
    color: #fff;
}

.top-more-btn img {
    width: 3rem;
    height: 3rem;
}

.success-btn {
    background: $blue;
    user-select: none;
}

.success-btn:active {
    background: darken($blue, 10%);
}

.cancel-btn {
    user-select: none;
    background: $red;
}

.cancel-btn:active {
    background: $red_active;
}

.clearfix {
    zoom: 1;
}

.no-pd {
    padding: 0!important;
}

.r0 {
    right: 0!important;
}
.mgt2{
    margin-top: 2rem;
}
.mgl2 {
    margin-left: 2rem;
}

.mgbtm1 {
    margin-bottom: 1rem;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}

// header
.index-header {
    width: 100%;
    height: auto;
}

#vue_main {
    height: 100%;
}

.page-title {
    position: relative;
    width: 100%;
    height: 4.4rem;
    line-height: 4.4rem;
    color: #fff;
    background: $blue;
    padding: 0 1.5rem;
    box-sizing: border-box;
}

.add-icon {
    color: #fff;
    font-size: 2.5rem;
}

.page-title .top-btn {
    display: inline-block;
    width: 5rem;
    height: 2rem;
    font-size: 1.2rem;
    color: #fff;
    border-radius: 2.5rem;
    border: 1px #fff solid;
    background: none;
}

.index-type-list {
    display: inline-block;
    margin-left: 1rem;
}

.index-type-list li {
    display: inline-block;
    margin-right: 0.75rem;
    font-size: 1.5rem;
}

.index-type-list li a {
    display: inline-block;
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
}

// 导航
.index-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    min-width: 320px;
    max-width: 640px;
    height: 6rem;
    border-top: 1px #eee solid;
    background: #fff;
    -webkit-text-size-adjust: none;
    font-size: 0;
}

.index-nav ul li {
    display: inline-block;
    width: 33%;
    padding-top: 1rem;
    text-align: center;
    height: 100%;
}

.index-nav ul li img {
    width: 3rem;
    height: auto;
}

.index-nav ul li p {
    font-size: 1.2rem;
    color: $blue;
}

// 滚动
.marquee {
    display: inline-block;
    width: 100%;
    animation: scrollText 10s infinite;
}

@keyframes scrollText {
    0% {
        -webkit-transform: translateX(0px);
    }
    100% {
        -webkit-transform: translateX(-500px);
    }
}



// 浮动菜单
.float-btn-box {
    position: relative;
}

.float-btn {
    display: block;
    position: absolute;
    right: 2.2rem;
    bottom: 6rem;
    width: 5rem;
    height: 5rem;
    border-radius: 50px;
    background: #ffa53a;
    z-index: 1;
}

.float-btn img {
    width: 100%;
}

.float-menu-box {
    position: absolute;
    right: 2.2rem;
    bottom: 11.5rem;
}

.float-menu {
    display: block;
    width: 10.5rem;
    font-size: 1.2rem;
    text-align: center;
    line-height: 3.5rem;
    height: 3.5rem;
    background: #fdedd9;
    color: #f87e17;
    margin: .75rem 0;
    border-radius: 5rem;
}

.float-menu img {
    width: 3rem;
    height: 3rem;
}

// 无数据
.noinfo {
    text-align: center;
    width: 100%;
    height: 4rem;
    color: #bfbfbf;
    line-height: 4rem;
    padding: 1rem 0;
}

.noinfo i {
    display: inline-block;
    margin-right: .5rem;
    width: 4rem;
    height: 4rem;
}

.noinfo i img {
    width: 100%;
}

// 加载更多
.loading {
    text-align: center;
    width: 100%;
    color: #bfbfbf;
    height: 4rem;
    line-height: 4rem;
    padding-bottom: 1rem;
}

.loading i {
    display: inline-block;
    margin-right: .5rem;
    width: 4rem;
    height: 4rem;
}

.loading i img {
    width: 100%;
}