/*
Power by lipeng
 */

@import "lib/rest.scss";
@import "lib/mixin.scss";
@import "lib/color.scss";
html,
body {
    height:100%;
    font-size: 62.5%;
    font-family: Arial, 'Microsoft YaHei';
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    max-width: 640px;
    min-width: 320px;
    margin: 0 auto;
    position: relative;
    line-height: 1;
}

input,
select,
button,
textarea {
    font-family: "arial","Microsoft YaHei";
}
[v-cloak] {
   display: none;
 }
.floatl {
    float: left;
}

.floatr {
    float: right;
}

.text-l {
    text-align: left
}

.text-r {
    text-align: right
}

.text-m {
    text-align: center
}
.pst-btm{
    position:absolute;
    bottom: 0;
}
.bl-bg{
    width: 100%;
    height:calc(100% - 4.4rem);
    @include linear-gradient(top,#00a0e9,#1d6edd);
    padding-top:12%;
    box-sizing: border-box;
}
.bl-bg2{
    width: 100%;
    height:calc(100% - 4.4rem);
    background: #00a0e9;
    box-sizing: border-box;
    padding-top:12%;
}
.main-cantainer {
    width: 100%;
    height: 100%;
    background: #eee;
    margin: 0 auto;
    font-size: 1.6rem;
    overflow:auto;
    -webkit-overflow-scrolling: touch;
}
.navfixr:after{
    content: '';
    display: block;
    height: 7rem;
}
   


.form-title {
    position: relative;
    width: 100%;
    height: 4.4rem;
    line-height: 4.4rem;
    text-align: center;
    background: $blue;
    color: #fff;
}

.backBasic-btn {
    position: absolute;
    left: 1rem;
    color: #fff;
}

.backBasic-btn img {
    width: 3rem;
    height: 3rem;
}

.success-btn {
    background: $blue;
}

.success-btn:active {
    background: darken($blue, 10%);
}

.cancel-btn {
    background: $red;
}

.cancel-btn:active {
    background: $red_active;
}

.clearfix {
    zoom: 1;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}

// header
.index-header {
    width: 100%;
    height: auto;
}
#vue_main{
    height:100%;
}
.page-title {
    position: relative;
    width: 100%;
    height: 4.4rem;
    line-height: 4.4rem;
    color: #fff;
    background: $blue;
    padding: 0 1.5rem;
    box-sizing: border-box;
}

.add-icon {
    color:#fff;
    font-size: 2.5rem;
}

.page-title .top-btn {
    display: inline-block;
    width: 5rem;
    height: 2rem;
    font-size: 1.2rem;
    color: #fff;
    border-radius: 2.5rem;
    border: 1px #fff solid;
    background: none;
}

.index-type-list {
    display: inline-block;
    margin-left: 1rem;
}

.index-type-list li {
    display: inline-block;
    margin-right: 0.75rem;
    font-size: 1.5rem;
}

.index-type-list li a {
    display: inline-block;
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
}

// 导航
.index-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    min-width: 320px;
    max-width: 640px;
    height: 6rem;
    border-top: 1px #eee solid;
    background: #fff;
    -webkit-text-size-adjust: none;
    font-size: 0;
}

.index-nav ul li {
    display: inline-block;
    width: 33%;
    padding-top: 1rem;
    text-align: center;
    height: 100%;
}

.index-nav ul li img {
    width: 3rem;
    height: auto;
}

.index-nav ul li p {
    font-size: 1.2rem;
    color: $blue;
}

// 滚动
.marquee {
    display: inline-block;
    width: 100%;
    animation: scrollText 10s infinite;
}

@keyframes scrollText {
    0% {
        -webkit-transform: translateX(0px);
    }
    100% {
        -webkit-transform: translateX(-500px);
    }
}
// 会议列表
.meet-list-main {
    box-sizing: border-box;
    width: 100%;
    padding: 0 1.5rem;
    background: #fff;
}

.meet-list {
    width: 100%;
    height: auto;
    padding-bottom: 1.5rem;
}

.meet-list li {
    width: 100%;
    height: 6.5rem;
    border-bottom: 1px #eee solid;
    padding: 1.75rem 0;
}
.meet-item{
    position: relative;
}
.meet-item .left {
    float: left;
    width: 30%;
    min-width: 8.5rem;
    height: 100%;
    overflow: hidden;
}

.meet-item .left img {
    width: auto;
    height: 100%;
}

.meet-item .right {
    width: 60%;
    padding-left: 0.75rem;
    float: left;
}

.meet-item .meet-name {
    height: 5.25rem;
    font-size: 1.5rem;
    color: #333;
}

.meet-item .right time {
    font-size: 12px;
    color: #848689;
}
 .meet-item .deleteItem {
    position:absolute;
    right:0;
    bottom:1rem;
    width:6rem;
    height:3rem;
    border-radius: 50px;
    background:#ffae2e;
    color:#fff;
    line-height:3rem;
    font-size: 1.2rem;
    text-align: center;
}
//模态框
.modal-bg {
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.8;
    position: fixed;
    z-index: 998;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.modal-main {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 998;
    height: 100%;
}

.modal-contant {
    max-width: 26rem;
    width: 69%;
    height: 25%;
    background: #fff;
    position: fixed;
    left: 0;
    right: 0;
    top: 35%;
    z-index: 999;
    margin: auto;
    @include rounded(10px);
}

.modal-body {
    width: 100%;
    height: 63%;
    box-sizing: border-box;
    border-bottom: 1px #eee solid;
}
.modal-body p.txt{
    font-size: 1.5rem;
    color:#333;
        padding:3rem 0;
}

.modal-footer {
    display: flex;
    height:37%;
}

.modal-footer button {
    flex: 1;
    background: #fff;
    height:100%;
    border:none;
    outline:none;
    font-size: 1.5rem;
}
.modal-footer button.yes{
    border-right:1px #eee solid;
    color:$blue;
    border-radius: 0 0 0 10px;
}
.modal-footer button.no{
       color:#717171;
        border-radius: 0 0 10px 0;
}