@import "lib/mixin.scss";
@import "lib/color.scss";
.fileUpload{
    position: relative;
    height:8rem; 
    line-height: 8rem;
}

.fileUpload input[type='file']{
    position:absolute;
    z-index: 2;
    opacity: 0;
}
.fileUpload i{
    position: absolute; 
    width: 8.5rem;
    height:6.5rem;
    background-color:#e6f3f9;
    right:5%;
    top:9%;
    display: block;
    box-sizing: border-box;
    overflow: hidden;
    background-image: url(img/upload.png);
    background-repeat:no-repeat;
    background-position: center center;
    z-index: 1;
}
.fileUpload i img{
    width:100%;
    height: auto;
}
