@import "lib/mixin.scss";
@import "lib/color.scss";
.form-main {
    width: 100%;
    height: 100%;
    background: #eee;
}

.form-group {
    position: relative;
    width: 100%;
    height: 5.5rem;
    border-bottom: 1px #eee solid;
    background: #fff;
    padding: 0 2.2rem;
    box-sizing: border-box;
    line-height: 5.5rem;
}

.form-group .input-icon {
    width: 3rem;
    margin-right: .2rem;
}

.form-group .input-icon img {
    width: 100%;
}

.form-group label {
    position: relative;
    height: 100%;
    font-size: 1.5rem;
    color: #333;
}

.form-input {
    width: 60%;
    height: 100%;
    font-size: 1.5rem;
    text-align: right;
    border: none;
    background: #fff;
    outline: none;
    color: $blue;
    position: relative;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    padding-right: .5rem;
}

.form-btn {
    width: 82%;
    height: 4rem;
    font-size: 1.7rem;
    color: #fff;
    border: none;
    border-radius: .5rem;
    outline: none;
}

.input-btn {
    height: 3rem;
    font-size: 1.7rem;
    color: #fff;
    border: none;
    border-radius: .5rem;
    outline: none;
    font-size: 1.2rem;
}

.getCode {
    position: absolute;
    left: 25%;
    top: 30%;
}

select.form-input {
    appearance: none;
    position: relative;
    color: $blue;
    -webkit-appearance: none;
    direction: rtl;
}

.arrowImg {
    position: absolute;
    right: 1rem;
}

.arrowImg img {
    width: 1.1rem;
}

.form-hr {
    width: 100%;
    height: 1rem;
    background: #eee;
    border: none;
    margin: 0;
    padding: 0;
}

.form-text {
    font-size: 1.5rem;
    color: $blue;
    padding-right: .5rem;
}

// 子会议选择
.meet-group {
    height: auto;
    padding: 1rem 2.2rem;
    line-height: normal;
}

.sign-up-btn {
    width: 100%;
    height: 5.5rem;
    background: $red;
    font-size: 1.7rem;
    color: #fff;
    border: none;
}


.submeet-name {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.submeet-info {
    height: 3rem;
    line-height: 3rem;
}

.time-item,
.checkbox-item {
    height: 100%;
    line-height: 100%;
}

.time-item time {
    color: $blue;
}

.checkbox-item {
    padding-top: .7rem;
}

.checkbox-item input {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 3rem;
}

.submeet-info img {
    height: 100%;
    width: auto;
}

// 保存按钮
.btn-box {
    width: 100%;
    text-align: center;
    margin-top: 3rem;
}

// 备注信息
.form-textarea {
    position: relative;
    width: percentage(640px/750px);
    margin: 2rem auto;
}

.form-textarea textarea {
    width: 100%;
    box-sizing: border-box;
    height: 19rem;
    font-size: 1.5rem;
    border: 1px #d3d3d3 solid;
    border-radius: 5px;
    padding: 1rem;
    resize: none;
    box-shadow: none;
    outline: none;
    -webkit-appearance: none;
    appearance: none;
}

.textarea_counter {
    position: absolute;
    color: #bfbfbf;
    font-size: 1.2rem;
    bottom: .5rem;
    right: .5rem;
}

.fileUpload {
    position: relative;
}

.fileUpload input[type='file'] {
    position: absolute;
    right:0;
    z-index: 2;
    opacity: 0;
}

.fileUpload i {
    position: absolute;
    width: 8.5rem;
    height: 6.5rem;
    background-color: #e6f3f9;
    right: 5%;
    top: 9%;
    display: block;
    box-sizing: border-box;
    overflow: hidden;
    background-image: url(img/upload.png);
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 1;
}

.fileUpload i img {
    width: 100%;
    height: auto;
}

.editormain {
    width: 100%;
    min-height: 30rem;
    background: #fff;
    margin-top: 1rem;
    margin-bottom: 3.5rem;
    padding: 0 2.2rem;
    box-sizing: border-box;
}

.editor-btnBox {
    width: 100%;
    height: 5.5rem;
    line-height: 5.5rem;
    border-bottom: 1px #eee solid;
}

.editor-btnBox span {
    position: relative;
    display:block;
    height:100%;
    width: 3rem;
    overflow: hidden;
}

.editor-btnBox span img {
    width: 100%;
}
.editor-body{
    width:100%;
    font-size: 1.5rem;
    padding:1rem 0;
    line-height:2rem;
    min-height:20rem;
}
.filebtn{
    height:5.5rem;
    opacity: 0;
    position: absolute;
    top:0;
    left:0;
}
.form-txtarea {
    width: 100%;
    box-sizing: border-box;
    min-height: 20rem;
    border: none;
    font-size: 1.5rem;
    padding: 1rem 0;
    resize: none;
    box-shadow: none;
    outline: none;
}
// 文件上传
.bottomimg-btn {
    width: 100%;
    height: 5.5rem;
    background: #fff;
    font-size: 1.7rem;
    outline: none;
    border: none;
    color:#606060;
}
.bottomimg-btn img{
    width:3.5rem;
    height:3.5rem;
}